<!-- food list hot -->
<div class="blog-section paddingTB60 bg-grey ">
    <div class="container">
    	<!-- all product && filter cate -->
    	<div class="row text-center">
			<div class="col-md-12">
			
				<div class="site-heading ">
					<h3>All Food In New Delhi</h3>
					<p>The easiest way to your favourite food.</p>
					<div class="border text-center "></div>
				</div>
			</div> 
		</div>
     
		<div class="row col-md-12" id="foods">
      <div class="controls pull-right hidden-xs">
          <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
              data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                  data-slide="next"></a>
      </div>
      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-item">
			        <%= render partial: 'food_detail', collection: @foods, as: :food %>
            </div>
          </div>
        </div>
      </div>
		</div>

    <!-- tab new product -->
	    <div class="row text-center">
		    <div class="col-md-12">
			    <div class="site-heading ">
					<h3>New Food In New Delhi</h3>
					<p>The easiest way to your favourite food.</p>
					<div class="border text-center "></div>
				</div>
			</div>
		</div>
    <div class="row col-md-12">
		  <%= render partial: "thumbnail", locals: {objects: @new_foods} %>
    </div>

    <!-- tab hot product -->
	    <div class="row text-center">
		    <div class="col-md-12">   
			    <div class="site-heading ">
					<h3>Hot Food In New Delhi</h3>
					<p>The easiest way to your favourite food.</p>
					<div class="border text-center "></div>
				</div>
			</div> 
		</div>
    <div class="row col-md-12">
	  	<%= render partial: "thumbnail", locals: {objects: @hot_foods} %>
    </div>

		<!-- hot sale product -->
	    <div class="row text-center" id="hot_sale">
		    <div class="col-md-12" >   
			    <div class="site-heading ">
					<h3>Hot Sale Food In New Delhi</h3>
					<p>The easiest way to your favourite food.</p>
					<div class="border text-center "></div>
				</div>
			</div> 
		</div>
    <div class="row col-md-12">
		  <%= render partial: "thumbnail", locals: {objects: @hot_sale} %>
    </div>
    
  </div>
</div>
<%#= render partial: "modal_add_cart", locals: {objects: @foods } %>
