<div class="top_nav">
  <div class="nav_menu">
    <nav>
    	<div class="Features-section paddingTB60 bg-dgrey ">
			<div class="container">
				<div class="row text-center">
					<P>PEASHOP.COM.VN</P>
					<h3>Chọn Món Hôm Nay, Nhận Ngay Ưu Đãi</h3>
				</div>
				<br>
				<div class="row text-center ">
					<div class="col-sm-6 col-md-4">
						<div class="feature-box">
							<span class="glyphicon glyphicon-gift icon"></span>
							<h4>Ưu đãi cho bạn</h4>
							<div class="row text-center">
						      <div class="col-md-1">
						        <span class="glyphicon glyphicon-ok"></span>
						      </div>
						      <div class="col-md-11">
							    <p>Khuyến mãi hằng ngày và xu hướng mới trên Twitter, Facebook và Instagram.</p>
						      </div>
							</div>
						</div>
					</div> <!-- End Col -->	
					<div class="col-sm-6 col-md-4">
						<div class="feature-box">
							<span class="glyphicon glyphicon-certificate icon"></span>
							<h4>Đảm bảo với bạn</h4>
							<div class="row text-center">
						      <div class="col-md-1">
						        <span class="glyphicon glyphicon-ok"></span>
						      </div>
						      <div class="col-md-11">
							    <p>Không tính phí dịch vụ</p>
						      </div>
							</div>
							<div class="row text-center">
						      <div class="col-md-1">
						        <span class="glyphicon glyphicon-ok"></span>
						      </div>
						      <div class="col-md-11">
							    <p>Chất lượng dịch vụ tuyệt vời</p>
						      </div>
							</div>
							<div class="row text-center">
						      <div class="col-md-1">
						        <span class="glyphicon glyphicon-ok"></span>
						      </div>
						      <div class="col-md-11">
							    <p>Giá đảm bảo: thanh toán với giá bằng với giá tại nhà hàng</p>
						      </div>
							</div>
						</div>
					</div> <!-- End Col -->	
					<div class="col-sm-6 col-md-4">
						<div class="feature-box">
							<span class="glyphicon glyphicon-thumbs-up icon"></span>
							<h4>Lợi ích cho bạn</h4>
							<div class="row text-center">
						      <div class="col-md-1">
						        <span class="glyphicon glyphicon-ok"></span>
						      </div>
						      <div class="col-md-11">
							    <p>Thanh toán online hoặc bằng tiền mặt</p>
						      </div>
							</div>
							<div class="row text-center">
						      <div class="col-md-1">
						        <span class="glyphicon glyphicon-ok"></span>
						      </div>
						      <div class="col-md-11">
							    <p>Đặt món mọi lúc mọi nơi bằng ứng dụng di động</p>
						      </div>
							</div>
						</div>
					</div> <!-- End Col -->	
				</div>
			</div>
		</div>
		<div class="footer-section">
		    <div class="footer-top">
			    <div class="container">
					<div class="row text-center">
						<div class="col-md-12">
						    <h2>Chọn Món Theo Cách Của Bạn </h2>
						</div>
						<div class="col-md-12">
					    Bạn đang khó khăn trong việc lựa chọn Món ăn đúng sở thích, có giao hàng tận nơi ? Hay Bạn đang tìm Gilf E.Voucher để tặng người thân, bạn bè ? Hoặc là Bạn đang tìm một buổi tối lãng mạn tại nhà hàng sang trọng ? Hãy để peashop.vn giúp Bạn làm điều đó nhé, Chỉ bằng 1 cú CLICK.
					    </div>
					</div>
			    </div>
		    </div>
		    <div class="footer">
				<div class="container">
					<div class="col-md-3 footer-one">
						<h5>About Us </h5>
					    <p>Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
					<div class="col-md-3 footer-two">
					    <h5>Information </h5>
					    <ul>
							<li><a href="maintenance.html">Maintenance Tips</a></li>
							<li><a href="contact.html">Locations</a></li>
							<li><a href="about.html">Testimonials</a></li>
							<li><a href="about.html">Careers</a></li>
							<li><a href="about.html">Partners</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-three">
					    <h5>Information </h5>
					    <ul>
							<li><a href="maintenance.html">Maintenance Tips</a></li>
							<li><a href="contact.html">Locations</a></li>
							<li><a href="about.html">Testimonials</a></li>
							<li><a href="about.html">Careers</a></li>
							<li><a href="about.html">Partners</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-four">
					    <h5>Information </h5>
					    <ul>
							<li><a href="maintenance.html">Maintenance Tips</a></li>
							<li><a href="contact.html">Locations</a></li>
							<li><a href="about.html">Testimonials</a></li>
							<li><a href="about.html">Careers</a></li>
							<li><a href="about.html">Partners</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
		    </div>
		    <div class="footer-bottom">
			    <div class="container">
					<div class="row">
						<div class="col-sm-6 ">
							<div class="copyright-text">
								<p>CopyRight © 2019 </p>
							</div>
						</div> <!-- End Col -->
						<div class="col-sm-6 ">
						    <div class="bigpixi-footer-social pull-right">
							  <ul>
							      <li class="bigpixi-footer-social__list-item">
							        <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://twitter.com/">
							          <img class="bigpixi-footer-social__icon" alt="Twitter" title="Twitter" src="http://simpleicons.org/icons/twitter.svg">
							        </a>
							      </li>
							      <li class="bigpixi-footer-social__list-item">
							        <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.facebook.com/">
							          <img class="bigpixi-footer-social__icon" alt="Facebook" title="Facebook" src="http://simpleicons.org/icons/facebook.svg">
							         </a>
							      </li>
							      <li class="bigpixi-footer-social__list-item">
							        <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.youtube.com/">
							          <img class="bigpixi-footer-social__icon" alt="YouTube" title="YouTube" src="http://simpleicons.org/icons/youtube.svg">
									</a>          
								  </li>
							      <li class="bigpixi-footer-social__list-item">
							        <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.instagram.com/">
							          <img class="bigpixi-footer-social__icon" alt="Instagram" title="Instagram" src="http://simpleicons.org/icons/instagram.svg">
									</a>          
								  </li>
							      <li class="bigpixi-footer-social__list-item">
							        <a class="bigpixi-footer__icon-link" rel="nofollow" href="https://www.pinterest.com/">
							          <img class="bigpixi-footer-social__icon" alt="Pinterest" title="Pinterest" src="http://simpleicons.org/icons/pinterest.svg">
									</a>          
								  </li>
							  </ul>
							</div>						
						</div> <!-- End Col -->
					</div>
			    </div>
		    </div>
		</div>
    </nav>
  </div>
</div>